@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body, input, textarea, button, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  img {
    width: 700px;
    height: auto;
  }

  html, body {
    background-color: #618685;
  }

  header nav ul {
    background-color: #fefbd8;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
  }

  header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
  }

  header nav ul li a {
    font-weight: bold;
    text-decoration: none;
  }

  input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
  }

  select {
    height: 2.5em;
  }

  select[multiple] {
    height: 7.5em;
  }

  table {
    width: 100%;
  }

  .helptext {
    display: block;
    font-size: 80%;
  }

.login-form,
.signup-form {
  background-color: #fefbd8;
  border-radius: 25px;
  box-shadow: 0 100px 25px rgba(14, 14, 14, 0.2);
  margin: auto;
  max-width: 300px;
  padding: 2em;
}
.shopping {
  background-color: white;
  margin: auto;
  max-width: 700px;
}
.gear-form,
.gear-update,
.riverlog-form {
  background-color: #fefbd8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

.gear-form h1,
.gear-list h1,
.gear-update h1,
.login-form h1,
.signup-form h1,
.riverlog-list h1,
.riverlog-form h1,
.riverlog-detail h1,
.riverlog-delete h1,
.riverlog-update h1 {
  margin-top: 0;
}

.riverlog-detail h2 {
    margin-top: 2em;
  }

.gear-form p,
.login-form p,
.signup-form p,
.riverlog-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

.gear-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.riverlog-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

.gear-form button,
.gear-list button,
.login-form button,
.signup-form button,
.riverlog-form button {
  border-radius: 40px;
  padding: 1em 2em;
}

.gear-list,
.riverlog-list,
.riverlog-delete,
.riverlog-update,
.resources-list,
.riverlog-detail {
  background-color: #fefbd8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(18, 18, 18, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

.gear-list th,
.gear-list td,
.riverlog-list th,
.riverlog-list td,
.riverlog-detail th,
.riverlog-detail td {
  padding: .5em;
}

.gear-list thead tr th,
.riverlog-list thead tr th,
.riverlog-detail thead tr th {
  border-bottom: 2px solid #DEDEDE;
}

.gear-list tbody td:nth-child(2),
.gear-list tbody td:nth-child(3),
.gear-list tbody td:nth-child(4),
.riverlog-list tbody tr td,
.riverlog-detail tbody td:nth-child(2),
.riverlog-detail tbody td:nth-child(3),
.riverlog-detail tbody td:nth-child(4),
.riverlog-detail tbody td:nth-child(5) {
  text-align: center;
}

.gear-list tbody :not(tr:last-child) td,
.riverlog-list tbody :not(tr:last-child) td,
.riverlog-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #DEDEDE;
}

.center {
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  filter: drop-shadow(10px 10px 10px black);
}

.house_rock{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 75%;
  filter: drop-shadow(10px 10px 10px black);

}


@media screen and (max-width: 300px) {
  .login-form {
    background-color: #010903;
  }
} 
 