{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiverLog</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <style>
        a {
            color: green;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'list_riverlog' %}">My Riverlogs</a>
                    </li>

                    <li>
                        <a href="{% url 'resources_riverlog' %}"> Resources</a>
                    </li>
                    <li>
                        <a href="{% url 'shopping' %}">Shopping List</a>
                    </li>
                    <li>
                        <a href="{% url 'gear_pdf' %}"> Gear List</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}"> About Us</a>
                    </li>

                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li>
                        <a href="{% url 'resources_riverlog' %}"> Resources</a>
                    </li>
                    <li>
                        <a href="{% url 'shopping' %}">Shopping List</a>
                    </li>
                    <li>
                        <a href="{% url 'gear_pdf' %}"> Gear List</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}"> About Us</a>
                    </li>
                {% endif %}
            </ul>
 
 
            </nav>
    </header>


{% block content %} 
{% endblock content %}

</body>
</html>