{% extends 'base.html' %} 
{% load static %}

{% block content %} 
<main>
    <img src="{% static 'images/8885.jpg' %}" class="center">
    <div class="login-form" style="position: absolute; z-index: 1; top : 15%; right: 0; margin: 5%;">
        <h1> Welcome to RiverTrip!  </h1>
        <h3> Please use our Resources, Shopping List and Gear List.</h3>
        <h3> To start a Riverlog you will need to Login or Signup.</h3>
            <h2> Happy Boating</h2>
       
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>

        </form>



    </div>
</main>


{% endblock content %}