{% extends 'base.html' %}

{% block content  %}
    <main>
        <div class="gear-form">
            
            <h1>Any Flips or Swims?</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Be honest (We won't tell)</button>
            </form>
        </div>
    </main>

{% endblock content %}