{% extends 'base.html' %}

{% block content %}
  <main>
    <div class="gear-update">
      <h1>Any Flips? Swims?</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
         <button class="button">Update</button>
        </div>
     </form>
    </div>
  </main>
{% endblock content %}