{% extends 'base.html' %} 
{% load static %}

{% block content %} 
<main>
    <div class="resources-list">
        <h1> About Us</h1>
 
        <p> We are some fun loving boaters through and through! That's what gave us the idea behind this project.</p>
        <p>Most of us keep track of our days on the river via a spreadsheet, note pad, or screen shots of river gauges. Now we have a better option. </p>
        <h2>Rivertrip and the all new Riverlog!</h2>
        <img src="{% static 'images/yampa.jpg' %}" class="center">
    </div>

</main>
{% endblock content %}

