
{% extends 'base.html' %}  

{% block content %}  
<main>
    <style>
        a {
            color: green;
        }
    </style>
    <div class="riverlog-form">
        <h1> Create New RiverLog </h1>
        <ul> Need the CFS? See the links below: </ul>
            <li>
                <a href="https://waterdata.usgs.gov/mt/nwis/current?type=flow" target="_blank"> USGS River Streamflow for Montana</a>
            </li>
            <li>
                <a href="https://waterdata.usgs.gov/id/nwis/current/?type=flow&group_key=NONE" target="_blank"> USGS River Streamflow for Idaho</a>
            </li>
            <li>
                <a href="https://waterdata.usgs.gov/co/nwis/current/?type=dailydischarge&group_key=NONE" target="_blank"> USGS River Streamflow for Coloardo</a>
            </li>
            <li>
                <a href="https://waterdata.usgs.gov/ut/nwis/current/?type=dailydischarge&group_key=NONE" target="_blank"> USGS River Streamflow for Utah</a>
            </li>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="control">
                <button class="button">Create</button>
            

            </div>
        </form>
    </div>
</main>
{% endblock content %}

