
{% extends "base.html"  %} 
{% load static %}

{% block content %}  
<main>
  <style>
    a {
        color: green;
    }
</style>

    <div class="riverlog-delete">
        <form method="post">
            {% csrf_token %}
            <h3>Are you sure you want to delete this log: "{{ riverlog.name }}"?</h3>
            <h2>You might be sorry you did!</h2>
            {{ form.as_p }}
            <div>
              <button class="button">Delete</button>
             
            </div>
            <p></p>
            <h1></h1>
            <img src="{% static 'images/7409.jpg' %}" class="center">
          </form>
    </div>
</main>



{% endblock content %}