{%  extends 'base.html' %}  

{% block content %}  
<main>
    <style>
        a {
            color: green;
        }
    </style>
<div class="riverlog-detail">
         
        <h1> Trip Details </h1>         
        <h2> {{ riverlog.name }} :  {{ riverlog.location }} </h2>
        <h3> {{ riverlog.put_in_date|date:"D  M  d  Y " }} -- 
            {% if riverlog.take_out_date is None %}
                    Same 
                {% else %} 
                    {{ riverlog.take_out_date|date:"D  M  d  Y " }}
                {% endif %} </h3>
        <p> {{riverlog.description}} </p>
         <p> CFS: {{riverlog.cfs}}</p>
         <p> Foot Gauge: {{riverlog.feet}}</p>




        {% with gear=riverlog.gear.first %}

        {% if gear  %}
     <ul></ul>
        <p> Flips and Swims:</p>
        <li>
            Did You Flip? {{ gear.flip|yesno }}
        </li>
        <br>
        <li>
            Did You Swim? {{ gear.swim|yesno }}
        </li>
        <br>
        <li>
            Lost Any Gear? {{ gear.lost_gear|yesno }}
        </li>
        <br>
        <li>
            Drink Your booty beer? {{ gear.booty_beer|yesno }}
        </li>
   <br>
        <ul>
            <a href = "{% url 'checkoff_gear' gear.pk %}"> Update Your Flips and Swims ?</a>
        </ul>
        {% else %} 
        <a href = "{% url 'create_gear'  riverlog.pk%}"> Any Flips or Swims?</a>
        {% endif %}
     
         
         {% endwith %}
         <br>
         <br>
         
     <table >
         <tr width="100%">
            <td><a href = "{% url 'update_riverlog' riverlog.id %}"> Edit Details</a></td>
             <td><a href = "{% url 'delete_riverlog' riverlog.id %}">  Delete Riverlog</a></td>
            <td><a href="{% url 'list_riverlog' %}"> Back to Riverlogs</a></td>
            </tr>
    </table>

    </div>
</main>

{% endblock content %}