{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="shopping">
        <img src="{% static 'images/gear.jpg' %}" class="center">


        
        

    </div>

</main>




{% endblock content %}