
{% extends 'base.html' %}  
{% load static %}

{% block content %}  
<main>
    <style>
        a {
            color: green;
        }
    </style>
    <div class="riverlog-list">
        <h1> My Daily Riverlog   </h1>
        <img src="{% static 'images/6376.jpg' %}" class="house_rock">
        <br>
            <a href="{% url 'create_riverlog' %}">Create a Day Trip</a>   

         

        {% if list_riverlog|length == 0 %} 
        <p> You have no Day River Runs yet</p>

        {% else %} 
        <table>
            <thead>
                <th>Name</th>
                <th>Put-in Date</th>
                <th>Take-out Date</th>
                <th> CFS</th>
                <th> Foot Gauge </th>
            </thead>
            {% for logs in list_riverlog %} 
            <tr>
                <td><a href="{% url 'detail_riverlog' logs.pk %}">{{ logs.name }}</a></td>

                <td> {{ logs.put_in_date|date:"D  M  d  Y "}} </td>
                <td>{% if logs.take_out_date is None %}
                    Same 
                {% else %} 
                    {{ logs.take_out_date|date:"D  M  d  Y " }}
                {% endif %} </td>
                 <td>
                     {% if logs.cfs is None%} 
                     0 
                     {% else %} 
                     {{ logs.cfs }}
                     {% endif %} 
                 </td>
                <td> 
                    {% if logs.feet is None %} 
                    0 
                    {% else %} 
                        {{ logs.feet }}
                    {% endif %} 
                 </td>
               
            </tr>
            {% endfor %}
        </table>
        {% endif %} 
     </div>
</main>


{% endblock content %}  