{% extends 'base.html' %}
{% load static %}

{% block content %} 
<main>
    <style>
        a {
            color: green;
        }
    </style>
    <div class="resources-list"> 
        <h1> Resources:    </h1> 
        <p>please note you will be redirected away from Riverlog when selecting a link</p>

        Gear:
        <li>
            <a href='https://www.nrs.com/' target="_blank"> National River Supply  "NRS" </a>
        </li>
        <li>
            <a href='https://www.aire.com/' target="_blank"> AIRE rafts </a>
        </li>
        <li>
            <a href='https://sotar.com/' target="_blank"> SOTAR rafts </a>
        </li>
<br>
        Swiftwater Rescue Courses:
        <li>
            <a href='https://swiftwatersafetyinstitute.com/' target="_blank"> Swiftwater Safety Institute </a>
        </li>
        
<br>
        Stream Flow information:
        <li>
            <a href="https://waterdata.usgs.gov/mt/nwis/current?type=flow" target="_blank"> USGS River Streamflow for Montana</a>
        </li>
        <li>
            <a href="https://waterdata.usgs.gov/id/nwis/current/?type=flow&group_key=NONE" target="_blank"> USGS River Streamflow for Idaho</a>
        </li>
        <li>
            <a href="https://waterdata.usgs.gov/co/nwis/current/?type=dailydischarge&group_key=NONE" target="_blank"> USGS River Streamflow for Coloardo</a>
        </li>
        <li>
            <a href="https://waterdata.usgs.gov/ut/nwis/current/?type=dailydischarge&group_key=NONE" target="_blank"> USGS River Streamflow for Utah</a>
        </li>
<br>
        Snowpack Map Interactive Map:
        <li>
            <a href ="https://www.nrcs.usda.gov/wps/portal/wcc/home/quicklinks/imap#version=158&elements=&networks=!&states=!&counties=!&hucs=&minElevation=&maxElevation=&elementSelectType=all&activeOnly=true&activeForecastPointsOnly=false&hucLabels=false&hucIdLabels=false&hucParameterLabels=false&stationLabels=&overlays=&hucOverlays=&basinOpacity=100&basinNoDataOpacity=100&basemapOpacity=100&maskOpacity=0&mode=data&openSections=dataElement,parameter,date,basin,elements,location,networks&controlsOpen=true&popup=754:MT:SNTL&popupMulti=&popupBasin=&base=esriNgwm&displayType=station&basinType=6&dataElement=SNWD&depth=-8&parameter=OBS&frequency=DAILY&duration=I&customDuration=&dayPart=E&monthPart=E&forecastPubDay=1&forecastExceedance=50&seqColor=1&divColor=3&scaleType=D&scaleMin=&scaleMax=&referencePeriodType=POR&referenceBegin=1981&referenceEnd=2010&minimumYears=20&hucAssociations=true&relativeDate=-1&lat=45.0810&lon=-109.9960&zoom=8.5" target="_blank"> NCRS SNOLET Map</a>
        </li>
<br>
        Weather:
        <li>
            <a href="https://www.accuweather.com/" target="_blank"> AccuWeather</a>
        </li>
<br>
        Permits:
        <li>
            <a href="https://www.recreation.gov/" target="_blank"> Recreation.Gov</a>
        </li>
        <li>
            <a href="https://fwp.mt.gov/smith-river" target="_blank"> Smith River: Montana</a>
        </li>
        
    </div>
</main>

{% endblock content %}


 