{% extends 'base.html' %}

{% block content %}
<main>
    <div class="shopping">
        
        <h1>  Food/Meal List:</h1>
        <p style="font-size:12px"> (Print me and share with the group)</p>

        <p> River Name:________________________________________</p>
        <p>Trip Leader:_______________________ Phone: (___)____-________</p>
        <p>Put-in Date: __/__/____    Take-out Date: __/__/____</p>
        <p>Emergency Contact:_____________________________Phone: (___)____-_____</p>
        <p> Shuttle Company Info: _________________________________________<p>
        <h3> Meals:</h3>
        <h4> Food Allergies:_____________________________________</h4>
        <table>
            <tr>
                <th>Day</th>
                <th>Breakfast</th>
                <th> Dinner</th>
            </tr>
            <tr>
                <td>( ) Day 1</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 2</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 3</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 4</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 5</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 6</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 7</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 8</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 9</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 10</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 11</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 12</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 13</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
            <tr>
                <td>( ) Day 14</td>
                <td>________________________</td>
                <td>__________________________</td>
            </tr>
 

            
        </table>
        
        

    </div>
</main>




{% endblock content %}