{% extends 'base.html' %} 

{% block content %}  
<main>
    <style>
        a {
            color: green;
        }
    </style>
    <div class="riverlog-update">
        <h1> Update a Day Trip </h1>
        <p> Need CFS?:</p>
        <li>
            <a href="https://waterdata.usgs.gov/mt/nwis/current?type=flow" target="_blank"> USGS River Streamflow for Montana</a>
        </li>
        <li>
            <a href="https://waterdata.usgs.gov/id/nwis/current/?type=flow&group_key=NONE" target="_blank"> USGS River Streamflow for Idaho</a>
        </li>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <div class="control">
              <button class="button">Update</button>
            </div>
        </form>
    </div>
</main>

{% endblock content %}